@media (prefers-reduced-motion: reduce) {

	/* https://webkit.org/blog-files/prefers-reduced-motion/prm.htm */
	*,
	*::before,
	*::after {
		animation-duration: 0.001s !important;
		transition-duration: 0.001s !important;
	}
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
    -moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
