{% extends "parts/base.twig" %}

{% block content %}
    <div class="flex flex-col md:flex-row">
        <div id="primary" class="w-full pr-0 pt-10 border-r-[#ececec] border-r-0 md:pr-8 xl:pr-14 md:pt-24 md:w-2/3 md:border-r-[1px] xl:w-[70%] space-y-8">
            {% for post in posts %}
                {% include ['parts/tease-'~post.post_type~'.twig', 'parts/tease.twig'] %}
            {% endfor %}

            <div class="pb-6 mt-10">
                {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
            </div>
        </div>

        {% include 'sidebar.twig' %}
    </div>
{% endblock %}
