footer {
    font-size: 0.9375rem;

    ul {

        li + li {
            margin-top: 5px;
        }
    }

    .mailpoet_form {

        .mailpoet_text {
            border-color: #c1c1c1;
            font-size: 0.9375rem;
            height: 42px;
            padding-left: 15px !important;
            padding-right: 15px !important;
        }

        .mailpoet_submit {
            background-color: #222222;
            color: #f3f4f6;
            font-size: 0.875rem;
            height: 42px;
            padding-left: 15px !important;
            padding-right: 15px !important;

            &:hover {
                background-color: #f1bd09;
                color: #222222;
                cursor: pointer;
            }
        }

        .mailpoet_form_column:not(:first-child) {
            margin-left: 5px !important;
        }
    }
}

#footer-col-1 {
    max-width: 450px;
    width: 100%;

    .widget + .widget {
        margin-top: 3em;
    }
}