body {
    color: #222222;
}

.logo {
    background-color: #ffffff;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    padding: 10px 15px;
    position: relative;
    text-transform: lowercase;
    z-index: 99;

    &::before,
    &::after {
        background-color: #ededed;
        display: inline-block;
        content: '';
        height: 100%;
        position: absolute;
        top: 0;
    }

    &::before {
        border-bottom-right-radius: 10px;
        left: 0;
        width: 98px;
        z-index: 1;
    }

    &::after {
        border-top-left-radius: 10px;
        right: 0;
        width: 35px;
        z-index: 2;
    }

    .logo__link {
        position: relative;
        z-index: 3;
    }
}

.main-navigation {

    .menu {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        > li {
            position: relative;

            &:hover > .sub-menu {
                display: block;
                opacity: 1;
                transform: scale(1);
                transition-delay: 0s;
            }

            > a {
                display: block;
                padding: 10px 15px;
                transition: all 0.2s ease-in-out;
            }

            &:hover > a {
                color: #bb5826;
            }
        }

        .sub-menu {
            background-color: #ffffff;
            border-top: 2px solid #285172;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            display: none;
            left: 0;
            min-width: 240px;
            opacity: 0;
            padding: 1rem;
            position: absolute;
            transform: scale(0.95);
            transition: all 0.3s ease-in-out;
            transition-delay: 0.15s;
        }
    }
}
