{% if footer_menu %}
	<ul class="footer-menu">
	{% for item in items %}
		<li class="{{ item.classes | join(' ') }}">
			<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
			{% include "parts/footer-menu.twig" with {'items': item.children} %}
		</li>
	{% endfor %}
	</ul>
{% endif %}