<header id="masthead" class="header border-b-[#ececec] border-b-[1px] py-5">
    <div class="container mx-auto px-4">
        <div class="flex items-center justify-between gap-x-16">
            <h1 class="logo" role="banner">
                <a class="logo__link" href="{{site.url}}" rel="home">{{site.name}}</a>
            </h1>
            {% include "parts/primary-menu.twig" with {'items': primary_menu.get_items} %}
        </div>
    </div>
</header>
