{% if primary_menu %}
	<nav id="nav-main" class="main-navigation" role="navigation">
		<ul class="menu flex items-center gap-x-8 flex-wrap">
			{% for item in primary_menu.items %}
				{% include 'partial/menu-item.twig' with { item: item } %}
			{% endfor %}
		</ul>
	</nav><!-- #nav -->
{% endif %}
